body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: rgb(238, 102, 11);
}

section{
    display: flex;
    padding: 5%;
}
h1{
    font-size: 40px;
    font-weight: 900;
}
p{
    font-weight: 700;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(226, 60, 19), rgb(197, 116, 69));
    color: white;
    font-weight:700;
    padding: 15px 25px;
    border-radius: 12%;
}
.first{
    padding-left: 20%;
}
.middle{
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
}